@font-face {
  font-family: "iranyekan";
  src: url(iranyekanwebthinfanum.ttf);
}

* {
  font-family: "iranyekan";
  font-weight: 300;
}

body {
  scroll-behavior: smooth;
  direction: rtl;
  padding: 20px;
  color: #eeeeee;
  background-image: radial-gradient(circle at center,
      #76abae 0%,
      #31363f 45%,
      #222831 100%);
}




.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

form {

  background: rgba(49, 54, 63, 0.6);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 600px;
  margin: auto;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}

.form-group {
  margin-bottom: 15px;
  margin: auto;
  text-align: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  margin-right: 0.5rem;
  text-align: right;
}

input,
textarea,
select {
  width: calc(100% - 20px);
  padding: 1rem;
  margin: 0.5rem auto;
  margin-bottom: 0.5rem;
  border: 1px solid #76abae;
  border-radius: 1rem;
  background: #31363f00;
  color: #fff;
  font-weight: 500;
  text-align: right;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}

textarea {
  resize: none;
}

input[type="file"] {
  display: none;
  margin: auto;
}

.file-input-container {
  width: 50%;
  position: relative;
  overflow: hidden;
  display: inline;
  margin: 1rem auto;
  text-align: center;
  border-radius: 1rem;
  justify-content: start;
}



.file-input-container .btn-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  color: #eeeeee;
  border: 2px solid #76abae;
  font-weight: 200;
  padding: 10px 15px;
  cursor: pointer;
  width: 50%;
  margin: 1rem auto;
  text-align: center;
  border-radius: 1rem;
}

.file-input-container .btn-upload:hover {
  opacity: 0.75;
}

button,
input[type="button"] {
  background: #76abae;
  color: #eeeeee;
  font-weight: 500;
  font-family: 'dastnevis', sans-serif;
  border: none;
  padding: 10px 20px;
  border-radius: 1rem;
  cursor: pointer;
  display: inline;
  margin: 0.25rem auto;
  text-align: center;
  width: 45%;
}

input[type="button"] {
  width: 10rem;
  display: inline;
  background: none;
  border: 2px solid #76abae;
  font-weight: 700;

}

button:hover,
input[type="button"]:hover {
  opacity: 0.75;
}

.hidden {
  display: none;
}

.navigation-buttons {
  text-align: center;
  margin-top: 2rem;
  width: 100%;
  font-weight: 700;
}

.file_container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 1rem auto;
  border-radius: 1rem;
  font-weight: 700;
}

.file_container label {
  text-align: center;
}

fieldset {
  border: none;
}

footer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer img {
  width: 100px;
  height: auto;
  margin: 1rem;
}

.hide {
  display: none;
}

.no-back {
  background: none;
  border: 2px solid #eeeeee;
  border-radius: 1rem;
}

@media screen and (max-width: 700px) {
  .file_container {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  button,
  input[type="button"] {
    width: 100%;
    border-radius: 0.75rem;
    text-align: center;
  }

  .file-input-container {
    width: 70%;
  }
}


#dargah_options {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;

}

#dargah_options label {
  border-radius: 1rem;
  cursor: pointer;
  display: inline;
  text-align: center;
  width: 45%;
  padding: 0.5rem;
  margin: 0.25rem;
  border: 2px solid #76abae;
  background-color: #31363f;
}

#dargah_options input[type="radio"] {
  cursor: pointer;
  display: none;
}

#direct_gateway_options,
#intermediary_gateway_options {
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  display: none;
}

.icon,
.arrow {
  width: 15px;
  height: auto;
  text-align: center;
  padding-right: 0.5rem;
  margin: auto;
  color: #eeeeee;
  font-size: 20px;
}